// vim: sw=2 ts=2 noet ft=jade :
doctype html
html(lang='de')
	head
		script(src='vendor.js')
		link(href='vendor.css', rel='stylesheet')
		script(src='ocr-gt-tools.js')
		link(href='ocr-gt-tools.css', rel='stylesheet')
	body

		// Page info on the right
		script#tpl-page(type='text/x-handlebars-template')
			.panel.panel-info
				.panel-heading.clearfix
					h4.panel-title Seiten-Info
				.list-group
					a.list-group-item(target="_blank", href="{{ imageUrl }}")
						img(src="{{ imageUrl }}")
					a#download-comments.list-group-item(target="_blank", href="{{ commentsUrl }}")
						i.fa.fa-download.pull-left
						| Anmerkungen
					a#open-work.list-group-item(target="_blank", href="http://digi.bib.uni-mannheim.de/en/suchergebnis/?tx_dlf[query]={{ pathId }}")
						i.fa.fa-download
						| Werk in Digitaler Bibliothek
					a#download-correction.list-group-item(target="_blank", href="{{ correctionUrl }}")
						i.fa.fa-download.pull-left
						| Korrektur
			.panel.panel-default
				.panel-heading.clearfix
					h4.panel-title Seiten-Kommentar
				.page-comment
					div(contenteditable) {{ pageComment }}

		// A line of page
		script#tpl-line(type='text/x-handlebars-template')
			.row
				.col-sm-1.select-col.hidden(data-target="#line-comment-{{ id }}")
					input(type="checkbox")
				.col-sm-11
					.panel.panel-default.line(id="line-{{ id }}")
						.panel-heading.clearfix
							h4.panel-title.pull-left {{ title }}
							.btn-group.pull-right
								a.btn.btn-sm.btn-default.add-comment(data-target="#line-comment-{{ id }}", data-tag="text-italic")
									i.fa.btn-sm.fa-italic
									| Kursiv
								a.btn.btn-sm.btn-warning.add-comment(data-target="#line-comment-{{ id }}", data-tag="wrong-image-section")
									i.fa.btn-sm.fa-exclamation-circle
									| Fehler in Vorlage
								a.btn.btn-sm.btn-default.show-line-comment(data-target="#line-comment-{{ id }}")
									i.fa.btn-sm.fa-commenting-o
								a.btn.btn-default.hide-line-comment.hidden(data-target="#line-comment-{{ id }}")
									i.fa.fa-map-o
						ul.list-group
							li.list-group-item
								img(src="{{ imgSrc }}", height="30")
							li.list-group-item.transcription
								div(contenteditable) {{ transcription }}
							li.list-group-item.line-comment.hidden(id="line-comment-{{ id }}")
								div(contenteditable) {{ comment }}

		// A row of history
		script#tpl-historyItem(type='text/x-handlebars-template')
			tr
				td {{ date }}
				td
					a(href="\#{{ url }}") {{ url }}
				td {{ action }}
				td {{ ip }}

		// Modal popup containing the history
		#history-modal.modal.fade(tabindex="-1")
			.modal-admin
				.modal-content
					.modal-header
						h4.modal-title Verlauf
							button.close(type='button', data-dismiss='modal')
								span &times;
					.modal-body
						table.table
							thead
								tr
									th Date
									th URL
									th Action
									th IP
							tbody

		// Will contain the raw HTML
		#raw-html.hidden

		// Will contain the toolbar for the multi select mode
		#select-bar.hidden
			.panel-heading.clearfix
				.btn-group.pull-right
					a.btn.btn-sm.btn-default.add-multi-comment(data-tag="text-italic")
						i.fa.btn-sm.fa-italic
						| Kursiv
					a.btn.btn-sm.btn-warning.add-multi-comment(data-tag="wrong-image-section")
						i.fa.btn-sm.fa-exclamation-circle
						| Fehler in Vorlage

		// The navbar on the left side
		nav.navbar.navbar-default(role='navigation')

			// Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
					span.sr-only Toggle navigation

			// Collect the nav links, forms, and other content for toggling
			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav
					li
						button#save_button.btn.btn-success.disabled
							span#wait_save.hidden
								i.fa.fa-4x.fa-spinner.fa-pulse.fa-fw
							span#disk
								i.fa.fa-4x.fa-save.fa-fw

					//- Info
					li.dropdown
						a.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-4x.fa-info
						ul.dropdown-menu.navbar-default
							li
								.btn-group.btn-group-vertical
									button.btn.btn-default
										i.fa.fa-info.pull-left
										| Seiten-Info
									a#download-comments.btn.btn-default(target="_blank")
										i.fa.fa-download.pull-left
										| Anmerkungen
									a#download-correction.btn.btn-default(target="_blank")
										i.fa.fa-download.pull-left
										| Korrektur
									button.btn.btn-default(data-toggle="modal",data-target="#history-modal",data-keyboard="true")
										i.fa.fa-history.pull-left
										| Verlauf

					//- Zoom
					li.dropdown
						a.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-search-plus.fa-4x
						ul.dropdown-menu.navbar-default
							li
								.btn-group.btn-group-vertical
									button#zoom-in.btn.btn-default(type='button')
										i.fa.fa-search-plus
										| Größer
									button#zoom-reset.btn.btn-default(type='button')
										i.fa.fa-search
										| Zurücksetzen
									button#zoom-out.btn.btn-default(type='button')
										i.fa.fa-search-minus
										| Kleiner

					//- Show/hide comments
					li.dropdown
						a.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-4x.fa-eye
						ul.dropdown-menu.navbar-default
							li
								.btn-group.btn-group-vertical
									button.set-view.btn.btn-default(type='button', data-target='*')
										i.fa.fa-plus-square-o
										| Vollansicht
									button.set-view.btn.btn-default(type='button', data-target='img')
										i.fa.fa-picture-o
										| Nur Bilder
									button.set-view.btn.btn-default(type='button', data-target='.transcription')
										i.fa.fa-align-left
										| Nur Text
									button.set-view.btn.btn-default(type='button', data-target='.line-comment')
										i.fa.fa-commenting-o
										| Nur Kommentare
									button.set-view.btn.btn-default(type='button', data-target='.transcription,img')
										i.fa.fa-picture-o
										i.fa.fa-align-left
										| Nur Bilder + Text
									button.set-view.btn.btn-default(type='button', data-target='.line-comment,img')
										i.fa.fa-commenting-o
										i.fa.fa-picture-o
										| Nur Bilder + Kommentare

					//- Show/hide comments
					li.dropdown
						a.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-4x.fa-caret-square-o-down
						ul.dropdown-menu.navbar-default
							li
								.btn-group.btn-group-vertical
									button#collapse_all_comments.btn.btn-default(type='button')
										i.fa.fa-plus-square-o
										| Alle einklappen
									button#expand_all_comments.btn.btn-default(type='button')
										i.fa.fa-minus-square-o
										| Alle ausklappen

					//- Filter
					li.dropdown
						a.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-4x.fa-filter
						ul.dropdown-menu.navbar-default
							li
								.btn-group.btn-group-vertical
									button#toggle-select.btn.btn-default
										i.fa.fa-plus-square-o
										| Multi-Select
									button#sort-length.btn.btn-default
										i.fa.fa-sort
										i.fa.fa-sorting
										| Nach Länge sortieren

		//- Here be dragons
		.container-fluid
			.row
				.col-sm-9#root
					#dropzone.jumbotron
						span#wait-load.hidden
							i.fa.fa-spinner.fa-pulse.fa-fw
						| Grafik auf dem Dokument ablegen
						br
						| oder
						br
						| URL angeben:
						br
						div.input-group
							input.input-lg.form-control(type='text')
							span.input-group-btn
								button.btn.btn-default.btn-lg(type="button") Los!
					#file-correction
				.col-sm-3#page-info
