doctype html
html(lang='de')
	head
		link(href='vendor.css', rel='stylesheet')
		link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
		link(href='ocr-gt-tools.css', rel='stylesheet')
	body

		//*
		// Page info on the right
		//*
		script#tpl-rightSidebar(type='text/x-handlebars-template')
			.panel.panel-success
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', href='#page-comment') Seiten-Kommentar
				#page-comment.panel-collapse.collapse.in
					a.list-group-item(target='_blank', href='{{ this.url.hires-url }}')
						img(src='{{ this.url.thumb-url }}')
					textarea(placeholder="Seitenkommentar...") {{ pageComment }}
			.panel.panel-info
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', href='#work-info') Werk-Info
				#work-info.panel-collapse.collapse
					.list-group
						a.list-group-item(target='_blank', href='{{ this.url.landing-page-url }}')
							i.fa.fa-download
							| Werk in Digitaler Bibliothek
						| {{#each pages}}
						a.list-group-item(href='\#{{ this.url.thumb-url }}')
							i.fa.fa-history
							| Seite {{this.ids.page}}
						| {{/each}}
			.panel.panel-info
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', href='#page-info') Seiten-Info
				#page-info.panel-collapse.collapse.in(aria-expanded='true')
					.list-group
						a#download-comments.list-group-item(target='_blank', href='{{ this.url.comment-url }}')
							i.fa.fa-download
							| Anmerkungen
						a#download-correction.list-group-item(target='_blank', href='{{ this.url.correction-url }}')
							i.fa.fa-download
							| Korrektur

		//*
		// A cheatsheet entry
		//*
		script#tpl-cheatsheetEntry(type='text/x-handlebars-template')
			tr(id="cheatsheet-{{ id }}")
				td
					a(target="_blank", href="https://github.com/UB-Mannheim/ocr-gt-tools/wiki/Special-Characters\#{{ id }}")
						| {{ name.de }}
				td {{{ sample }}}
				td
					button.code(data-clipboard-text="{{ recognition }}")
						span.fa.fa-clipboard.clipboard
						span.recognition {{ recognition }}

		//*
		// A line of page
		//*
		script#tpl-lineContainer(type='text/x-handlebars-template')
			.row.line(id="line-{{ id }}")

		script#tpl-line(type='text/x-handlebars-template')
			.col-sm-1.button-col(data-target="#line-comment-{{ id }}")
				.btn-group.btn-group-sm(role='group')
					.btn-group(role='group')
						a.btn.btn-default.toggle-line-comment(data-target="#line-comment-{{ id }}")
							i.show-line-comment.fa.fa-commenting-o
							i.hide-line-comment.fa.fa-map-o.hidden
					.btn-group(role='group')
						button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", type='button', aria-haspopup="true", aria-expanded="false", tabindex="-1")
							i.fa.fa-exclamation
							span.caret
						ul.dropdown-menu
							li
								a.btn.btn-default.add-comment(data-target="#line-comment-{{ id }}", data-tag="#text-italic")
									i.fa.fa-italic
									| Kursiv
							li
								a.btn.btn-warning.add-comment(data-target="#line-comment-{{ id }}", data-tag="#wrong-image-section")
									i.fa.fa-exclamation-circle
									| Fehler in Vorlage

			.col-sm-1.select-col.hidden(data-target="#line-comment-{{ id }}")
				input(type="checkbox")

			.col-sm-11.lines-col
				.panel.panel-default
					ul.list-group
						li.list-group-item.line-image
							img(src="{{ image }}", height="30")
						li.list-group-item.line-transcription
							input(type='text', value='{{ transcription }}')
						li.list-group-item.line-comment(id="line-comment-{{ id }}")
							textarea(placeholder="Kommentar zu dieser Zeile") {{ comment }}

		//*
		// A row of history
		//*
		script#tpl-historyItem(type='text/x-handlebars-template')
			tr
				td {{ date }}
				td
					a(href="\#{{ url }}") {{ url }}
				td {{ action }}
				td {{ ip }}

		//*
		// Modal popup containing the history
		//*
		#history-modal.modal.fade(tabindex="-1")
			.modal-admin
				.modal-content
					.modal-header
						h2.modal-title Verlauf
							button.close(type='button', data-dismiss='modal')
								span &times;
					.modal-body
						table.table
							thead
								tr
									th Date
									th URL
									th Action
									th IP
							tbody

		//*
		// Help modal
		//*
		#cheatsheet-modal.modal.fade(tabindex"-1")
			.modal-admin
				.modal-content
					.modal-header
						h4.modal-title Eingabe Spickzettel
						.cheatsheet-entry
							input(type='text')
						button.close(type='button', data-dismiss='modal')
							span &times;
					.modal-body
						table.table.table-condensed
							tbody.cheatsheet

		//*
		// Will contain the raw HTML
		//*
		#raw-html.hidden

		//*
		// Will contain the toolbar for the multi select mode
		//*
		#select-bar.hidden
			.panel-heading.clearfix
				button.toggle-select-mode.close.pull-left(type='button', data-dismiss='modal')
					span &times;
				.btn-group.pull-right
					a.btn.btn-sm.btn-default.select-all
						i.fa.btn-sm.fa-arrows-alt
						| Alle auswählen
					a.btn.btn-sm.btn-default.select-none
						i.fa.btn-sm.fa-arrows-alt
						| Auswahl aufheben
					a.btn.btn-sm.btn-default.select-toggle
						i.fa.btn-sm.fa-arrows-alt
						| Auswahl umkehren
					a.btn.btn-sm.btn-default.add-multi-comment(data-tag="#text-italic")
						i.fa.btn-sm.fa-italic
						| Kursiv
					a.btn.btn-sm.btn-warning.add-multi-comment(data-tag="#wrong-image-section")
						i.fa.btn-sm.fa-exclamation-circle
						| Fehler in Vorlage

		//*
		// The navbar on the left side
		//*
		#toolbar.nav.navbar.navbar-default(role='navigation')

			// Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
					span.sr-only Toggle navigation

			// Collect the nav links, forms, and other content for toggling
			.collapse.navbar-collapse.navbar-ex1-collapse
				ul.nav.navbar-nav
					li
						button#save_button.btn.btn-success.disabled
							span#wait_save.hidden
								i.fa.fa-4x.fa-spinner.fa-pulse.fa-fw
							span#disk
								i.fa.fa-4x.fa-save.fa-fw

					//- Info
					li.dropdown.info
						a.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-4x.fa-info-circle
						ul.dropdown-menu.navbar-default
							li
								.btn-group.btn-group-vertical
									a.btn.btn-default.pull-right(target="_blank", href="https://github.com/UB-Mannheim/ocr-gt-tools/wiki/Error-Tags")
										i.fa.fa-exclamation
										| Fehler-Kategorien
									button.btn.btn-default(data-toggle="modal",data-target="#cheatsheet-modal",data-keyboard="true")
										i.fa.fa-question
										| Spickzettel
									button.btn.btn-default(data-toggle="modal",data-target="#history-modal",data-keyboard="true")
										i.fa.fa-history
										| Verlauf

					//- Zoom
					li.dropdown.disabled.zoom
						a.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-search-plus.fa-4x
						ul.dropdown-menu.navbar-default
							li
								.btn-group.btn-group-vertical
									button#zoom-in.btn.btn-default(type='button')
										i.fa.fa-search-plus
										| Größer
									button#zoom-reset.btn.btn-default(type='button')
										i.fa.fa-search
										| Zurücksetzen
									button#zoom-out.btn.btn-default(type='button')
										i.fa.fa-search-minus
										| Kleiner

					//- Show/hide comments
					li.dropdown.disabled.views
						a.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-4x.fa-eye
						ul.dropdown-menu.navbar-default
							li
								.btn-group.btn-group-vertical
									button.set-view.btn.btn-default(type='button', data-target='*')
										i.fa.fa-picture-o
										i.fa.fa-commenting-o
										i.fa.fa-align-left
										| Vollansicht
									button.set-view.btn.btn-default(type='button', data-target='.line-transcription,.line-image')
										i.fa.fa-picture-o
										i.fa.fa-align-left
										| Bild + Text
									button.set-view.btn.btn-default(type='button', data-target='.line-comment,.line-image')
										i.fa.fa-picture-o
										i.fa.fa-commenting-o
										| Bild + Kommentar
									button.set-view.btn.btn-default(type='button', data-target='.line-comment,.line-transcription')
										i.fa.fa-align-left
										i.fa.fa-commenting-o
										| Text + Kommentar
									button.set-view.btn.btn-default(type='button', data-target='.line-image')
										i.fa.fa-picture-o
										| Bild
									button.set-view.btn.btn-default(type='button', data-target='.line-transcription')
										i.fa.fa-align-left
										| Text
									button.set-view.btn.btn-default(type='button', data-target='.line-comment')
										i.fa.fa-commenting-o
										| Kommentar

					li.dropdown.disabled.filter
						a.toggle-select-mode.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-4x.fa-plus-square-o

					//- Filter
					li.dropdown.disabled.filter
						a.btn.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-4x.fa-sort
						ul.dropdown-menu.navbar-default
							li
								.btn-group.btn-group-vertical
									button#sort-line.btn.btn-default
										i.fa.fa-sort
										| Normale Sortierung (auf)
									button#sort-line-desc.btn.btn-default
										i.fa.fa-sort
										| Umgekehrte Sortierung (ab)
									button#sort-width.btn.btn-default
										i.fa.fa-sort
										| Nach Breite sortieren (auf)
									button#sort-width-desc.btn.btn-default
										i.fa.fa-sort
										| Nach Breite sortieren (ab)

		//*
		//- Here be dragons
		//*
		.container-fluid
			.row
				.col-sm-9#root
					#dropzone.jumbotron
						span#wait-load.hidden
							i.fa.fa-spinner.fa-pulse.fa-fw
						| Grafik auf dem Dokument ablegen
						br
						| oder
						br
						| URL angeben:
						br
						div.input-group#load-image
							input.input-lg.form-control(type='text')
							span.input-group-btn
								button.btn.btn-default.btn-lg(type="button") Los!
					#file-correction
					#waiting-animation.hidden
				#right-sidebar.col-sm-3.panel-group

		script(src='vendor.js')
		script(src='ocr-gt-tools.js')
// vim: sw=2 ts=2 noet ft=jade :
