selectedColor = red
paperColor = #b9af96

@media (min-width: 768px)
	body
		padding-top 0
	.container-fluid
		margin-left 100px
	.navbar-collapse
		height auto
		border-top 0
		box-shadow none
		max-height none
		padding-left 0
		padding-right 0
		&.collapse
			display block !important
			width auto !important
			padding-bottom 0
			overflow visible !important
		&.in
			overflow-x visible
		.navbar-nav
			&.navbar-right
				&:last-child
					margin-right 0
	.navbar
		max-width 96px
		height 100vh
		margin-right 0
		margin-left 0
		float left
		position fixed
		z-index 10001
		&:after
			clear both
		.btn-group
			display block
		.dropdown-menu
			top 0
			left 100%
			padding 0
			width 220px
		.btn.disabled
			opacity .35
		.navbar-nav,
		.navbar-nav > li,
		.navbar-left,
		.navbar-right,
		.navbar-header
			float none !important
		.navbar-right
			.dropdown-menu
				left 0
				right auto
	.navbar-default
		.dropdown-menu
			i
				display inline-block
				float left
				top 2px
				font-size 2em
	.modal-admin
		width 80%
		left 100px
		position fixed
		max-height 100vh
		overflow scroll
	.line
		.list-group-item
			padding 0 0 0 0
		.btn
			i
				padding-top 0
				padding-bottom 0
				font-size: 20px

#dropzone
	position fixed
	height 90vh
	margin 5vh
	padding-top 40vh
	font-size 300%
	text-align center
	&.droppable
		border-style dashed
		border-width 10px
		border-color blue

#waiting-animation
	position: fixed
	height: 100vh
	width: 100vw
	z-index: 10000
	a
		position: absolute
		height: 32px
		width: 32px
		img
			height: 32px !important
			max-width: 32px !important
			display: block !important

.hidden
	display none

.view-hidden
	display none

.selected
	background: selectedColor
	.list-group-item.image
		background: selectedColor
	.panel
		background: selectedColor

textarea
input[type='text']
	display inline-block
	white-space pre-wrap
	border none
	padding 0
	color #000060
	font-family 'EB Garamond', serif
	font-size 20px
	min-height 24px
	width 100%
	// Important to make textareas auto-expand
	height auto
	overflow hidden
	resize none

.line-comment, .line-comment *,
#page-comment textarea
	background-color lightyellow
	font-family 'EB Garamond', serif
	font-size 20px
	min-height 24px

#file-correction
	.panel
		margin 0
	.panel-heading
		padding 0
		h4
			padding-top 7.5px

#right-sidebar
	position fixed
	right 0
	.list-group-item
		i
			padding-right: 5px;

#select-bar
	position fixed
	background-color #eee
	border-radius 0 0 10px 10px
	border-left: 2px solid blue
	border-right 2px solid blue
	border-bottom 2px solid blue
	top 0
	left 200px
	z-index: 1001
	.close
		opacity .5
		display inline-block
		padding-right 5px
		font-size xx-large

#cheatsheet-modal
	// disable selection
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	h4
		float: left
	.cheatsheet-entry
		float: left
		margin-left 25%
		font-size: 200%
		max-width: 64px
	img
		height: 64px
	th
		font-weight: bold
	td:nth-child(1)
		width: 40%
	td
		vertical-align: middle
		font-size: 120%
		button.code
			width 100%
			font-family monospace
			font-size 48px
			height 64px
		.clipboard
			float: left
			font-size: 50%

.select-col
	padding-left: 20px
	// margin-top: 32px
	input[type="checkbox"]
		width 23px
		height 23px
		padding: 0
		margin: 4px 0 0 0
		// padding-top 32px

.button-col
	padding-left 0
	padding-right 0
	.btn
		padding:0
		text-align left
		i
			padding: 5px;

#work-info
	overflow-y: scroll
	max-height: 200px;

// vim: sw=4 ts=4 noet :
