/*
    Name: git-gt-tools.css
*/
.dropzone {
  text-align: center;
  background: #EEE;
  border: 0.2em solid #000;
  padding: 3em;
}

.hidden {
    display: none;
}

.button {
    background-color: #993333;
    color: #ffffff;
    width: auto;
    margin: 12px;
    padding: 12px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.2rem;
    position: fixed;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

.inaktiv {
    background-color: gray;
}


td[contenteditable],
div[contenteditable]
{
    border: solid 1px #808080;
    color: #000060;
    font-family: 'EB Garamond', serif;
    font-size:20px;
    min-height:20px;
}

tbody tr:nth-child(2)
{
  background:#B9AF96;
}

.lineComment,
.pageComment
{
    background-color: lightyellow;
    height: 24px; /* FF sonst nur Fehler bei Zeilenhöhe */
}

/* Einstellungen für Toolbar */
#toolbar {
    padding: 4px;
    display: inline-block;
}
/* support: IE7 */
*+html #toolbar {
    display: inline;
}

#toolbar {
    display: inline-block;
    background-color: lightgray;
    border-radius: 0;
    border: 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1001;
}


#toolbar .button {
    position: relative;
    float:left;
}

#toolbar #zoom_button_plus,
#toolbar #zoom_button_minus,
#toolbar #zoom_button_reset,
#toolbar #save_button {
    float: right;
}

#delete_button {
    top: 0;
    width: auto;
    float: left;
}

#file_correction {
    zoom: 1.4;
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: scale(1.4);
}

#seitenkommentar {
    height: auto;
    margin-bottom: 34px;
    min-height: 20px;
}

#file_links {
    float: right;
    text-align: right;
}

#currentLine {
    float: left;
}
